name: Check and Update Dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 2' # every Tuesday at midnight

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    if: ${{ github.repository_owner == 'cryostatio' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Import GPG key
      uses: crazy-max/ghaction-import-gpg@v6
      with:
        gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
        passphrase: ${{ secrets.GPG_PASSPHRASE }}
        git_user_signingkey: true
        git_commit_gpgsign: true

    - name: Set SeaweedFS release ref
      run: |
        SEAWEED_REF="$(gh release list --repo=seaweedfs/seaweedfs | head -n1 | column -t | cut -d ' ' -f 1)"
        sed -i "s/SEAWEED_VERSION=.*/SEAWEED_VERSION=$SEAWEED_REF/" versions.env
        echo "SEAWEED_REF=$SEAWEED_REF" >> "$GITHUB_ENV"
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Commit
      env:
        GH_TOKEN: ${{ secrets.SUBMODULE_TOKEN }}
      run: |
        git add --all
        title="build(seaweedfs): update to ${{ env.SEAWEED_REF }}"
        body="see https://github.com/seaweedfs/seaweedfs/releases/tag/${{ env.SEAWEED_REF }}"
        git commit -S -m "${title}" -m "${body}"

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        title: SeaweedFS ${{ env.SEAWEED_REF }}
        branch: updater/seaweed-${{ env.SEAWEED_REF }}
        branch-token: ${{ secrets.CI_UPDATER_PAT }}
        push-to-fork: cryostat-bot/cryostat-storage
        maintainer-can-modify: false
        delete-branch: true
